@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");

.navbar {
  width: 100%;
  background: linear-gcradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.938));
  height: 120px;
  z-index: 100;
  position: relative;
  background-position: center;
  filter: saturate(150%);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: -4px 25px 31px -3px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: -4px 25px 31px -3px rgba(0, 0, 0, 0.76);
  box-shadow: -4px 25px 31px -3px rgba(0, 0, 0, 0.76);
}

.link {
  font-family: "Francois One", sans-serif;
}
.link:hover {
  text-shadow: 3px 2px 2px rgb(15, 189, 233);
  transform: translateY(-10px);
}
